{% extends "CoreBundle::layout.html.twig" %}

{% block title %}JobZ{% endblock %}

{% block content %}

<div class="content">
    <div id="jobs">
        {% for catName,jobs in jobsByCat %}
        <div class="category_{{ catName }}">
            <div class="category">
                <h1>
                    <a href="{{ path("core_category_show", {'name': catName} ) }}">{{ catName }}</a>
                </h1>
            </div>
            <table class="jobs">
                <tbody>
            {% for job in jobs  %}
                <tr class="odd">
                    <td class="location">
                        {{ job.location }}
                    </td>
                    <td class="position">
                        <a href="{{ path('core_job_show', {id: job.id}) }}">{{ job.position }}</a>
                    </td>
                    <td class="company">
                        {{ job.company }}
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
            {% endfor %}
    </div>
</div>

{% endblock %}


