{% extends "CoreBundle::layout.html.twig" %}

{% block title %}JobZ{% endblock %}

{% block content %}
    <div class="content">
        <div id="job">
            <h1>
                {{ job.company }}
            </h1>
            <h2>
                {{ job.location }}
            </h2>
            <h3>
                {{ job.position }} <small>-{{ job.type }}</small>
            </h3>
            <div class="description">
                {{  job.description }}
            </div>
            <h4>
                How to apply?
            </h4>
            <p class="how_to_apply">
                Send your resume to {{ job.email }}
            </p>
            <div class="meta">
                <small>posted on {{ job.createdAt | date("m/d/Y") }}</small>
            </div>
        </div>
    </div>
{% endblock %}