{% extends "::base.html.twig" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/job.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/jobs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/core/css/main.css') }}">
{% endblock %}

{% block body %}
<div id="container">
    <div id="header">
        <div class="nav">
            <ul>
                <li><a href="{{ path('core_security_signin') }}">Login</a></li>
                <li><a href="{{ path('core_registration_new') }}">Registration</a></li>
            </ul>
        </div>
        {{ render(controller('CoreBundle:Information:index',{position: "h"})) }}


        <div class="clearfix"></div>

        <div class="content">
            <h1>
                <a href="{{ path('core_job_index') }}"><img src="{{ asset('bundles/core/images/jobz.gif') }}"></a>
            </h1>
            <div id="sub_header">
                <div class="post">
                    <h2>
                        Ask for people
                    </h2>
                    <div>
                        <a href="{{ path('core_job_new') }}">Post a Job</a>
                    </div>
                </div>
                <div class="search">
                    <img src="{{ asset('bundles/core/images/ask.png') }}" alt="ask">
                    <h2>
                        Ask for a job
                    </h2>
                    <form action="{{ path('core_job_search') }}" method="get">
                        <input name="keywords" id="search_keywords" class="input" type="text"><input value="search"
                                                                                                     src="{{ asset('bundles/core/images/search.png') }}"
                                                                                                     class="but_search"
                                                                                                     type="image">
                        <div class="help">
                            Enter some keywords (city, country, position, ...)
                        </div>
                    </form>
                </div>
            </div>

            <section>
                {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                <p class="session-messages">{{ message }}</p>
                {% endfor %}
                {% endfor %}
                {% block section %}{% endblock %}
            </section>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                <div class="content">
                    <ul>
                        {{ render(controller('CoreBundle:Information:index',{position: "f"})) }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

